<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type='image/x-icon' href="{% static 'papermodels/favicon.ico' %}">
</head>
<body>
<div class="container">
<div class="menu">
    <div class="wrap">
        <ul class="menu">
            <li ><a href="{% url 'main' %}"><img class="logo" src="{% static 'papermodels/logo.png' %}" alt="logo"></a></li>
            <li class="text"><a href="{% url 'main' %}">Главная</a></li>
            <li class="text"><a href="{% url 'papermodels:projects' %}">Категории моделей</a></li>
            <li class="text"><a href="{% url 'contacts' %}">Контакты</a></li>
            {% if request.user.is_authenticated %}
            <li class="text last">{{ user.username }} | <a href="{% url 'papermodels:logout' %}">Выйти</a></li>
            {% else %}
            <li class="text last"><a href="{% url 'papermodels:register' %}">Регистрация</a> | <a href="{% url 'login' %}">Авторизация</a></li>
            {% endif %}
        </ul>

    </div>
</div>
<h1 class="title">МОДЕЛИ ИЗ БУМАГИ</h1>
<div class="content">
    <div class="wrap">
        {% block content %}
        {% endblock %}
    </div>
</div>
</div>
</body>
</html>