{% extends 'papermodels/base.html' %}
{% load static %}
{% block content %}
<h2 class="cat_title">На любые ваши вопросы с удовольствием ответят члены нашей команды:<br></h2>
<div class="models contacts">
    {% for cont in contacts %}
    <div class="elements">
        <h3 class="top"><a href="{{ cont.url }}" target="_blank">{{ cont.title }}</a></h3>
        <div class="blog_text"><p>{{ cont.description | striptags | truncatechars:800 }}</p></div>
    </div>
    {% endfor %}
</div>
{% endblock %}
