{% extends 'papermodels/base.html' %}
{% load static %}
{% block content %}
{% if id == 1 %}
<link rel="stylesheet" href="{% static 'css/style_prj1.css' %}">
{% elif id == 2 %}
<link rel="stylesheet" href="{% static 'css/style_prj2.css' %}">
{% elif id == 3 %}
<link rel="stylesheet" href="{% static 'css/style_prj3.css' %}">
{% endif %}

<h2 class="cat_title">{{ cat_title }}.<br></h2>
<h4>Моделей: {{ project.count }}  <a class="add_model" href="{% url 'papermodels:upload'%}"> + Добавить модель</a> </h4>
<div class="models">
    {% for model in project %}
    <div class="elements">
        <h2 class="top"><a href="{{ model.upload.url }}" target="_blank">{{ model.title }}</a></h2>
        <a href="{{ model.upload.url }}" target="_blank"><img class="model_img" src="{{ model.image.url }}"
                                                              alt="img"></a>
        <div class="blog_text"><p>{{ model.description | striptags | truncatechars:10 }}</p></div>
    </div>
    {% endfor %}
</div>
<div class="footer"> </div>
{% endblock %}
